@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@font-face {
    font-family: Poppins;
    font-weight: 300;
    src: url(/fonts/Poppins-Light.ttf);
    font-display: swap;
}
@font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url(/fonts/Poppins-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: Poppins;
    font-weight: 500;
    src: url(/fonts/Poppins-Medium.ttf);
    font-display: swap;
}
@font-face {
    font-family: Poppins;
    font-weight: 600;
    src: url(/fonts/Poppins-SemiBold.ttf);
    font-display: swap;
}
@font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url(/fonts/Poppins-Bold.ttf);
    font-display: swap;
}
@font-face {
    font-family: Poppins;
    font-weight: 800;
    src: url(/fonts/Poppins-ExtraBold.ttf);
    font-display: swap;
}
*/

* {
    min-width: 0;
}

html {
    scroll-behavior: unset !important;
}

html {
    @apply h-full;
}

body {
    @apply h-full;
}

h1 {
    @apply text-3xl font-semibold;
}
h2 {
    @apply text-2xl font-semibold;
}
h3 {
    @apply text-xl font-semibold;
}
h4 {
    @apply text-lg font-medium;
}

:focus {
    outline: none;
}
.no-scroll {
    overflow: hidden;
}
.scroll {
    overflow-y: scroll;
}
