version: '3'
services:
  client: 
    container_name: grpc-client
    image: node:19-alpine
    working_dir: /client
    volumes:
      - ./client:/client
      - ./proto:/proto
    command: npm run dev
    environment:
      URI_USERS: service-users
      URI_NOTES: service-notes
      GOOGLE_ID: xxxx
      GOOGLE_SECRET: xxxx
      AUTH_SECRET: xxxx
      AUTH_TRUST_HOST: true
    ports: 
      - 3000:3000

  service-users:
    container_name: grpc-service-users
    image: golang:1.19
    depends_on:
      - db-users
    working_dir: /app/server/service-users
    volumes:
      - .:/app
    command: sh -c "go mod tidy && go run ."
    environment:
      ENV: development
      PORT: 443
      DB_USER: postgres
      DB_PASS: 12345
      DB_HOST: db-users
      DB_NAME: users

  db-users:
    container_name: grpc-db-users
    image: postgres:14.1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: users

  service-notes:
    container_name: grpc-service-notes
    image: golang:1.19
    depends_on:
      - db-notes
    working_dir: /app/server/service-notes
    volumes:
      - .:/app
    command: sh -c "go mod tidy && go run ."
    environment:
      ENV: development
      PORT: 443
      URI_USERS: service-users
      DB_USER: postgres
      DB_PASS: 12345
      DB_HOST: db-notes
      DB_NAME: notes

  db-notes:
    container_name: grpc-db-notes
    image: postgres:14.1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: notes
