version: '3'
services:
  client: 
    container_name: grpc-client
    image: node:19-alpine
    working_dir: /client
    volumes:
      - ./client:/client
    command: npm run dev
    environment:
      API_URL: http://gateway:7000
    ports: 
      - 3000:3000

  gateway:
    container_name: grpc-gateway
    image: golang:1.19
    working_dir: /server/gateway
    volumes:
      - ./server:/server
      - ./serviceAccount.json:/serviceAccount.json
    command: sh -c "go mod tidy && go run ."
    environment:
      PORT: 7000
      ENV: development
      DOMAIN: http://localhost:3000
      PROJECT_ID: grpc
      URI_USER: service-users
      URI_NOTES: service-notes
      URI_FILES: service-files
    ports: 
      - 7000:7000

  service-email:
    container_name: grpc-service-email
    image: golang:1.19
    working_dir: /server/service-email
    volumes:
      - ./server:/server
    command: sh -c "go mod tidy && go run ."
    environment:
      PORT: 3000
      ENV: development
      CLIENT_URL: http://localhost:3000
      EMAIL_API_KEY: xxxx
      EMAIL_FROM: xxxx
      EMAIL_NAME: xxxx

  service-files:
    container_name: grpc-service-files
    image: golang:1.19
    depends_on:
      - db-files
    working_dir: /server/service-files
    volumes:
      - ./server:/server
    command: sh -c "go mod tidy && go run ."
    environment:
      ENV: development
      PORT: 443
      BUCKET: xxxx
      DB_USER: postgres
      DB_PASS: 12345
      DB_HOST: db-files
      DB_NAME: files

  db-files:
    container_name: grpc-db-files
    image: postgres:14.1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: files

  service-users:
    container_name: grpc-service-users
    image: golang:1.19
    depends_on:
      - db-users
    working_dir: /server/service-users
    volumes:
      - ./server:/server
    command: sh -c "go mod tidy && go run ."
    environment:
      ENV: development
      PORT: 443
      DB_USER: postgres
      DB_PASS: 12345
      DB_HOST: db-users
      DB_NAME: users

  db-users:
    container_name: grpc-db-users
    image: postgres:14.1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: users

  service-notes:
    container_name: grpc-service-notes
    image: golang:1.19
    depends_on:
      - db-notes
    working_dir: /server/service-notes
    volumes:
      - ./server:/server
    command: sh -c "go mod tidy && go run ."
    environment:
      ENV: development
      PORT: 443
      DB_USER: postgres
      DB_PASS: 12345
      DB_HOST: db-notes
      DB_NAME: notes

  db-notes:
    container_name: grpc-db-notes
    image: postgres:14.1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: notes
